@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --body-color: #1f2e35;
  --btn-back-color: #02897a;
  --bnt-color: #fff;
  --title-color: #fff;
  --text-color: #fff;
  --logo-img: url('../img/logo-dark.svg');
  --js-dark: url('../img/white.js.svg');
  --buger: url('../img/menu_white_24dp\ \(1\).svg');
  --bg: url('../img/Bg\ \(1\).png');
  --bac: url('../img/up.png');
}

:root {
  --body-color: #fff;
  --btn-back-color: #02897a;
  --bnt-color: #173a56;
  --title-color: #22343d;
  --text-color: #fff;
  --logo-img: url('../img/logo-white.svg');
  --js-dark: url('../img/dark.js.svg');
  --burger: url('../img/hamburg.svg');
  --bg: url('../img/Bg.png');
  --bac:  url('../img/Bg\ \(2\).png');
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--body-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

#header {
  padding-top: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logobox {
  width: 155px;
  height: 30px;
  background-image: var(--logo-img);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.nav__item {
  margin-right: 30px;
  list-style: none;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 28px;
  color: var(--title-color);
  transition: all 0.2s ease;
}

.nav__link--active {
  font-weight: 600;
  font-size: 16px;
}

.nav__link:hover {
  color: var(--btn-back-color);
}

.nav__link--hover {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 9px 25px;
  color: var(--bnt-color);
  border: 1px solid var(--btn-back-color);
  border-radius: 4px;
}

.nav__link--btn {
  color: var(--text-color);
  border: 1px solid transparent;
  background-color: var(--btn-back-color);
}

.nav__link--btn:hover {
  border: 1px solid var(--btn-back-color);
  color: var(--btn-back-color);
  background-color: var(--text-color);
}

.header__dark {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: var(--js-dark);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__burger {
  background-image: var(--burger);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  display: none;
}

/* hero */

.hero__title {
  width: 400px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: var(--title-color);
}

.hero__text {
  width: 450px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
  color: var(--title-color);
}

.hero__boximg {
  padding-top: 45px;
  height: 100%;
}

.hero__pic {
  width: 600px;
  height: 555px;
}

.btn {
  text-decoration: none;
  padding: 15px 40px;
  margin-right: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--btn-back-color);
  color: var(--text-color);
  transition: all 0.2s ease;
}

.btn:hover {
  color: var(--btn-back-color);
  border: 1px solid var(--btn-back-color);
  background-color: transparent;
}

.hero__play {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: var(--btn-back-color);
}

.hero__play:hover,
.hero__icon:hover,
.hero__play:hover ::before {
  color: var(--title-color);
}

.hero__play::before {
  content: '';
  width: 135px;
  border-bottom: 1px solid var(--btn-back-color);
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.hero__icon {
  font-size: 30px;
  margin-right: 5px;
  color: var(--btn-back-color);
}


/* main */

.products {
  padding-top: 115px;
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.btn__holder{
  display: flex;
  justify-content: center;
  align-items: center;
}

.built__btn {
  
}

.built__title {
  width: 500px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin: 0 auto;
  color: var(--title-color);
}

.built__list {
  margin-bottom: 80px;
  padding-top: 50px;
  list-style: none;
}

.builst__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: var(--title-color);
  margin-bottom: 13px;
  position: relative;
  color: var(--title-color);
}

.built__desc {
  width: 240px;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
}

/* managment */

.managment {
  padding-top: 250px;
}

.managment__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--title-color);
  margin-bottom: 8px;
}

.managment__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--title-color);
  margin-bottom: 20px;
}

.managment__p {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 12px;
  color: var(--title-color);
}

.managment__desc {
  width: 450px;
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  color: var(--title-color);
  margin-bottom: 25px;
}

.managment__img {
  width: 500px;
  height: 450px;
  object-fit: cover;
}

.support {
  padding-top: 150px;
}

.support__decs {
  width: 480px;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
  color: var(--title-color);
}

.support__pic {
  width: 543px;
  height: 500px;
}

.support__img {
  margin-right: 25px;
}

.support__text {
  width: 365px;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
}

.support__item {
  margin-bottom: 30px;
}

.documents {
  padding-top: 150px;
}


/* user */

.easy {
  padding-top: 120px;
  background-image: var(--bac);
  background-repeat: no-repeat;
  background-position: center top;
}

.user__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 16px;
  color: var(--title-color);
}

.user__desc {
  width: 542px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  color: var(--title-color);
}

.user__list {
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
}

.user__item {
  display: flex;
  align-items: center;
  width: 100%;
}

.user__item:nth-child(even) {
  flex-direction: row-reverse;
}

.user__text {
  padding: 15px 25px;
  background: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
}
.user__img-avater {
  margin-right: 20px;
}
.user__item:nth-child(even) .user__img-avater{
  margin-left: 20px;
}

.user__button {
  padding-top: 150px;
  margin-left: 410px;
}

.content-section {
  padding-top: 150px;
}

.content__title {
  width: 100%;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  line-height: 51px;
  margin-bottom: 8px;
  color: var(--title-color);
}
.content__p { 
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
}

.content__list {
  padding-top: 35px;
  list-style: none;
}
.content__item {
  position: relative;
  width: 350px;
  height: 360px;
  border: 1px solid var(--title-color);
  border-radius: 8px;
}

.content__name {
  font-size: 16px;
  line-height: 28px;
  padding-top: 24px;
  padding-left: 24px;
  color: var(--title-color);
}
.content__span {
  font-weight: 600;
}
.content__name::before {
  content: '';
  width: 348px;
  height: 185px;
  background-image: url('../img/image\ bg.png');
  display: inline-block;
  position: relative;
  top: -24px;
  left: -24px;
}
.content__item:nth-child(2) .content__name::before {
  background-image: url('../img/Bitmap.png');
}
.content__item:nth-child(3) .content__name::before {
  background-image: url('../img/Bitmap\ \(1\).png');
}
.content__desc {
  padding-left: 24px;
  width: 300px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: var(--title-color);
}
.content__item:nth-child(2) .content__desc {
  color: var(--btn-back-color);
}


.table {
  padding-top: 150px;
}
.table__list {
  padding-top: 50px;
  list-style: none;
}
.table__title {
  width: 100%;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  margin-bottom: 8px;
  color: var(--title-color);
}
.table__text {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--title-color);
}

.table__item {
  position: relative;
  width: 323px;
  height: 456px;
  background-color: var(--text-color);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.table__item:nth-child(2) {
  background-color: var(--btn-back-color);
}
.table__name {
  text-align: center;
  padding-top: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: var(--title-color);
}

.table__p {
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: var(--title-color);
}

.table__bold {
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  padding-left: 80px;
  color: var(--btn-back-color);
}
.table__nol {
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  top: 125px;
  display: block;
  padding-left: 135px;
  color: var(--btn-back-color);
}

.table__desc {
  position: absolute;
  right: 92px;
  top: 160px;
  font-size: 16px;
  line-height: 19px;
  color: #afafaf;
}
.table__ppp {
  padding-top: 20px;
  text-align: center;
  color: var(--title-color);
}

.table__button {
  padding-top: 50px;
  text-align: center;
  margin-left: 30px;
}
.table__btn {
  padding: 11px 18px;
  background: #02897a;
  border-radius: 8px;
}

.table__item:nth-child(2) .table__btn {
  background-color: var(--text-color);
  color: var(--btn-back-color);
}
.color {
  color: var(--text-color);
}

.what {
  padding-top: 150px;
}

.say__title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
  color: var(--title-color);
}
.say__text {
  width: 537px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 0 auto;
  color: var(--title-color);
}
.say__list {
  padding-top: 50px;
  list-style: none;
}

.say__item {
  width: 327px;
  height: 236px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
}
.say__icons {
  margin-bottom: 16px;
  padding-top: 28px;
  padding-left: 26px;
}
.say__decs {
  padding-left: 26px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}

.say__main {
  padding-left: 26px;
  padding-top: 20px;
}
.say__img {
  margin-right: 15px;
}
.say__ari {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--btn-back-color);
}
.say__pic {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--title-color);
}

.get {
  padding-top: 150px;
}

.join {
  background-color: var(--btn-back-color);
  width: 100%;
  height: 345px;
  border-radius: 32px;
}
.join__title {
  padding-top: 50px;
  padding-left: 50px;
  width: 510px;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #fff;
}
.join__button {
  padding-top: 60px;
  padding-left: 50px;
}

.join__btn {
  padding: 13px 33px;
  background-color: #fff;
  color: var(--btn-back-color);
  border-radius: 8px;
}
.join__btn:hover {
  color: #fff;
  border: 1px solid #fff;
}

#footer {
  padding-top: 150px;
}

.footer__img {
  width: 155px;
  height: 30px;
  background-image: var(--logo-img);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.footer__icon {
  padding-top: 30px;
}
.footer__iconss {
  margin-right: 15px;
}
.footer__list {
  list-style: none;
}
.footer__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--title-color);
  margin-bottom: 20px;
}

.footer__item {
  margin-bottom: 18px;
}
.footer__text {
  width: 280px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
  color: var(--title-color);
}

.input {
  width: 325px;
  height: 48px;
}
.footer__button {
  padding-top: 50px;
}

.footer__btn {
  padding: 8px 15px;
}




/* responsives */



@media screen and (max-width: 960px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #173a56;
    opacity: 0.9;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    z-index: 1000;
  }

  .nav__list {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .header__dark {
    position: relative;
    right: 15px;
  }

  .nav__item {
    margin-bottom: 20px;
  }

  .nav__link--hover {
    display: flex;
  }

  .nav__link {
    color: var(--text-color);
  }

  .header__burger {
    display: flex;
    position: relative;
    z-index: 1000;
  }

  .header__nav.show {
    right: 0;
  }

  .header__logobox.light {
    position: relative;
    z-index: 2000;
    background-image: url('../img/logo-dark.svg');
  }

  .header__burger.active {
    background-image: url(../img/close.svg);
  }

  /* main */

  .hero {
    display: flex;
    flex-flow: column-reverse;
  }

  .built__list {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 180px;
  }

  .built__item {
    width: 50%;
    margin-bottom: 50px;
  }

  .managment {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .managment__name {
    padding-top: 50px;
  }

  .managment__title {
    margin-bottom: 20px;
  }

  .support {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  .support__text {
    width: 100%;
  }

  .user__img-avater {
    width: 25%;
  }
  .user__text {
    width: 100%;
  }
  .user__button {
    margin-left: 310px;
  }
  .content__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .content__item {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .table__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .table__item {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .say__title {
    width: 100%;
  }
  .say__text {
    width: 100%;
  }
  .say__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .say__item {
    margin-bottom: 20px;
  }
  .join {
    background-color: #02897a;
    height: 100vh;
  }
  .join__title {
    padding-top: 10px;
    width: 100%;
  } 
  .join__button {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
  }
  .join__img {
    width: 100%;
    height: auto;
  }

  .footer__list {
    width: 25%;
  }
  .footer__main-div {
    padding-top: 20px;
    margin: 0 auto;
  }
}


@media screen and (max-width: 768px) {
  .hero__boximg {
    height: 50%;
  }

  .hero__pic {
    width: 100%;
    height: auto;
  }

  .hero__title {
    text-align: center;
    margin: 0 auto;
  }

  .hero__text {
    width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .built__title {
    width: 330px;
  }

  .built__list {
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
  }

  .built__item {
    position: relative;
    right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .built__btn {
    margin-left: 20px;
  }
  .user__desc {
    width: 100%;
  }
  .user__button {
    margin-left: 200px;
  }
}

@media screen and (max-width: 576px) {
  .hero__pic {
    width: 100%;
    height: auto;
  }

  .managment__img {
    padding-top: 410px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: 20px;
  }

  .managment__main-div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  .managment {
    margin-top: 0px
  }
  .managment__desc {
    width: 100%;
    align-items: center;
  }
  .btn__holder {
    margin-right: -40px; 
    margin-top: -80px;
  }
  .support__pic {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .support__decs {
    width: 100%;
  }
  .support__text {
    width: 100%;
  }
  .support__main {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
  }

  .documentssssss {
    padding-top: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .user__item {
    width: 100%;
  }
  .user__text {
    width: 100%;
  }
  .user__img-avater {
    width: 20%;
  }
  .user__button {
    margin-left: 100px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__name {
    margin-bottom: 10px;
  }
  .footer__text {
    width: 100%;
    align-items: center;
  }
  .input {
    width: 100%;
  }
  .footer__btn {
    margin-left: 160px;
  }
  
}




@media screen and (max-width: 350px) {
  .hero__pic {
    width: 100%;
    height: auto;
    margin-left: 25px;
  }

  .hero__title {
    width: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .hero__text {
    width: 100%;
    margin-left: 25px; 
  }

  .hero__box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
  }

  .hero__btn {
    margin-bottom: 20px;
    margin-left: 45px;
  }

  .hero__play {
    position: relative;
    right: 0px;
  }

  .built__title {
    width: 300px;
  }
  .btn__holder {
    margin-top: -100px;
    margin-right: 55px;
  }
  .built__btn {
    position: relative;
    left: 50px;
    top: 50px;
  }
  .managment__img {
    margin-top: 0px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 30px;
  }

  .managment__main-div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  .managment__desc {
    width: 280px;
    align-items: center;
  }
  .support__pic {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 40px;
  }

  .support__decs {
    width: 250px;
  }

  .support__main {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
  }

  .documentssssss {
    padding-top: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .user__button {
    margin-left: 50px;
  }
  .content__title {
    margin: 0 auto;
  }
  .footer__btn {
    margin-left: 85px;
  }
}